* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(189, 176, 122) 0%,
    rgb(107, 125, 135) 100%
  );
}
.kanban-app {
  display: flex;
  flex-direction: column;
  width: 420px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 32px;
}
header,
footer {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.add-task-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 16px; 
}

.add-task-input {
  padding: 14px 16px;
  border-radius: 4px;
  border: 2px solid rgb(216, 164, 91);
  outline: none;
  background: transparent;
  color: #fff;
  margin-bottom: 16px;
  width: 320px; /* Set width of input fields */
}

.add-task-input::placeholder {
  color: #e2e2e2;
}

.add-task-btn {
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(216, 164, 91) 0%,
    rgb(85, 76, 44) 100%
  );
  color: #fff;
  text-transform: capitalize;
  width: 320px; /* Set width of button to match input fields */
}

.task-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  gap: 1.5rem;
  
  }

  .column-title {
  margin: 1rem;
  color: rgb(110, 110, 151);
}



  .task-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 4px auto;
    background: linear-gradient(
      90deg,
      rgb(101, 47, 8) 0%,
      rgba(189, 176, 122) 100%
    );
    padding: 6px;
    width: 90%;
  }

.task-row-title h2,
.task-row-content h3 {
  margin: 0; 
  align-self: flex-start;
}

.task-row-title h2 {
color: rgb(237, 226, 226);
}

.task-row-content h3 {
  color: rgb(155, 140, 140);
}


.task-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(39, 6, 105) 0%,
    rgba(189, 176, 122) 100%
  );
}

.task-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(77, 6, 73) 0%,
    rgba(189, 176, 122) 100%
  );
}

.task-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgb(8, 56, 90) 0%,
    rgba(189, 176, 122) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  gap: 1rem;
  color: #fff;
}


/* Modal */
.overlay {
  position: fixed;
  top: 0; /* Position the modal 20 viewport widths down from the top */
  left: 0;
  width: 100%;
  height: calc(100%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: -30vh;
  width: 80%;
  height: 40%;
  max-width: 700px;
  background: linear-gradient(
    90deg,
    rgb(77, 6, 73) 0%,
    rgba(189, 176, 122) 100%
  );
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-task-title {
  margin: auto;
  border: 1px solid black;
  height: 10%;
  width: 90%;
}

.modal-task-title p {
  color: white;
  font-size: x-large;
}

.modal-task-content {
  margin: auto;
  border: 1px solid black;
  height: 80%;
  width: 90%;
}

.modal-task-content p {
  color: white;
}

.modal-btn {
margin: auto;
width: 15%;
border-radius: 20%;
}

.modal-close-alert-container {
margin: auto;
background-color: rgb(175, 21, 21);
}

.modal-close-warning-text {
color: white;
} 

